* {
    padding: 0;
    margin: 0;
    font-family: Bahnschrift SemiBold;
}

:root {
    --vermelho-principal: #ff1c1c;
    --vermelho-titulo: #ff2525;
    --branco-principal: #f5f5f5;
    --cinza-marcação: #3c3c3c;
    --cinza-transparente: rgba(0, 0, 0, 35%);
    --preto-principal: #0000;
}

/*Cabeçalho*/
.cabeçalho {
    background-color: var(--vermelho-principal);
    margin-bottom: 1em;
}

.desenhoLink {
    width: 25%;
}

/*Configurações para a página inteira*/
main {
    text-align: center;
}

h1 {
    font-size: 75px;
}

p {
    font-size: 20;
}

hr{
    margin-top: 5em;
    display: inline-block;
    width: 50em;
    border: 3px solid var(--cinza-transparente);
    border-radius: 3px;
    margin-bottom: 3em;
}

/*Seção de artigos*/
.artigos {
    padding: 25px;
}

.artigos li{
    display: inline-block;
    text-align: center;
    border: 8px solid var(--cinza-marcação);
    border-radius: 0.5em;
    width: 350px;
    height: auto;
    padding: 5% auto;
    margin: 2em;
}

/*Estrutura do preview dos artigos*/
.artigosTitulo {
    font-size: 2.5em;  
    color: var(--vermelho-titulo);
    margin-bottom: 10px;
}

.artigosImagem {
    display: inline-block;
    width: 95%;
    height: 8em;
    background-color: aqua;
}

.artigosDescricao {
    margin: 15px 0;
}

.artigosData {
    color: var(--cinza-transparente);
    margin: 4em 0;
}